.member-page{
  background: #fff;
  #page-wrapper{
    margin: 0px;
  }
  #ui-datepicker-div{
    z-index: 9999 !important;
  }
}
.profiles-edit{
  #uploaded-profile-pic{
    height: 250px;
    width: 250px;
  }
}