.member-page{
  background: #fff;
  #page-wrapper{
    margin: 0px;
  }
  #ui-datepicker-div{
    z-index: 9999 !important;
  }
}
.profiles-edit{
  #uploaded-profile-pic{
    height: 250px;
    width: 250px;
  }
}
.mce-tinymce body{
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}
.qanswers-count h2{
  font-weight: bold;
}
.ques-upvote-count{
  font-size: 40px;
}
#question-all-answers{
  .vote-info{
    margin-left: 0;
    margin-top: 20px;
  }
}