.member-page{
  background: #fff;
  #page-wrapper{
    margin: 0px;
  }
  #ui-datepicker-div{
    z-index: 9999 !important;
  }
}
.profiles-edit{
  #uploaded-profile-pic{
    height: 250px;
    width: 250px;
  }
}
.mce-tinymce body{
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}
.qanswers-count h2{
  font-weight: bold;
}
.ques-upvote-count{
  font-size: 30px;
  color: green;
}
.ques-downvote-count{
  font-size: 30px;
  color: maroon;
}
.ans-upvote-count{
  font-size: 20px;
  color: green;
}
.ans-downvote-count{
  font-size: 20px;
  color: maroon;
}
.vote-info.q-user-interactions{
    margin: 10px 0;
}
.login-with-oauth{
  border-left: 1px solid #000;
}
.questions-index{
  .ibox-content p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.not-voted{
  color: #fff;
}
.voted{
  color: #1ab394;
}
.vote-actions{
  width: 100%;
}
.new-answer-form {
  border-top: 1px dashed #dedede;
  margin-top: 25px;
  padding-top: 5px;
}
.each_answers{
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #dedede;
}
.project-manager{
  table{
    td{ font-size: 110%}
    margin-bottom: 15px;
  }
}
.vote-count-separator {
  border-top: 1px solid blue;
  margin-bottom: 5px;
  margin-top: 5px;
}